<ion-content class="bg">

  
  <div class="header">

    <img
    src="assets/icon/logo.png">

    <h1>MTS NURUL HUDA</h1>

    <p>
      Sekolah Islami Modern & Berprestasi 📖
    </p>

  </div>

  
  <div class="card">

    <h2>
      Tentang Sekolah
    </h2>

    <img
    src="assets/img/sekolahmts.jpeg"
    class="banner">

    <p>

      MTS Nurul Huda merupakan sekolah islami
      yang berfokus pada pendidikan modern,
      akhlak, dan prestasi siswa.

      Sekolah ini memiliki lingkungan belajar
      yang nyaman, islami, dan aktif dalam
      berbagai kegiatan pendidikan maupun
      ekstrakurikuler ✨

    </p>

  </div>

  <div class="about-card">

  <h2>
    Hebat dan Bermartabat
  </h2>

  <p>

    MTs Nurul Huda Pematang Cengal
    merupakan sekolah islami yang
    berkomitmen menciptakan generasi
    berakhlak mulia, cerdas,
    disiplin, dan berprestasi.

    Dengan lingkungan belajar yang nyaman,
    sekolah terus berkembang dalam
    meningkatkan kualitas pendidikan
    dan fasilitas demi masa depan siswa.

  </p>

</div>

  
<div class="card">

  <h2>
    Visi MTs Nurul Huda Pematang Cengal
  </h2>

  <p>

    “Terwujudnya peserta didik yang
    beriman dan bertakwa, berakhlakul
    karimah, unggul dalam prestasi,
    berwawasan lingkungan, serta mampu
    beradaptasi dengan perkembangan ilmu
    pengetahuan dan teknologi berdasarkan
    nilai-nilai Islami.”

  </p>

</div>


<div class="card">

  <h2>
    Misi MTs Nurul Huda Pematang Cengal
  </h2>

  <ol>

    <li>
      Menanamkan nilai keimanan dan
      ketakwaan melalui pembiasaan ibadah
      dan pengamalan ajaran Islam dalam
      kehidupan sehari-hari.
    </li>

    <li>
      Membentuk peserta didik yang
      berakhlakul karimah, disiplin,
      santun, bertanggung jawab, dan
      peduli terhadap sesama.
    </li>

    <li>
      Melaksanakan proses pembelajaran
      yang aktif, kreatif, inovatif, dan
      menyenangkan sesuai dengan
      Kurikulum Merdeka.
    </li>

    <li>
      Mengembangkan potensi akademik dan
      nonakademik peserta didik melalui
      kegiatan intrakurikuler dan
      ekstrakurikuler.
    </li>

    <li>
      Meningkatkan budaya literasi,
      numerasi, dan pemanfaatan teknologi
      informasi dalam proses pembelajaran.
    </li>

    <li>
      Menumbuhkan sikap cinta lingkungan,
      menjaga kebersihan, dan menciptakan
      lingkungan madrasah yang sehat dan
      nyaman.
    </li>

    <li>
      Menjalin kerja sama yang harmonis
      antara madrasah, orang tua, dan
      masyarakat dalam mendukung
      pendidikan peserta didik.
    </li>

    <li>
      Membekali peserta didik dengan
      keterampilan hidup (life skill)
      agar mampu bersaing dan
      beradaptasi di era globalisasi
      tanpa meninggalkan nilai-nilai
      keislaman.
    </li>

  </ol>

</div>
  <div class="about-card">

  <img
  src="assets/img/yayasan1.jpeg"
  class="about-img">

  <h3>
    Ketua Yayasan Pendidikan Nurul Huda
  </h3>

  <p>

    Dokumentasi bersama Ketua Yayasan yaitu bapak HARUN,S.Pd.I,
    Kepala Sekolah yaitu ibu NOVIA ROBEITAH IRHAM,M.Pd, dan perancang sistem yaitu 
    AULIA NAMIRA,prodi sistem informasi, mahasiswa itbi untuk mendukung perkembangan
    pendidikan di MTs Nurul Huda.

  </p>

</div>

<div class="about-card">

  <img
  src="assets/img/yayasan3.jpeg"
  class="about-img">

  <h3>
    Dukungan Yayasan dan Sekolah
  </h3>

  <p>

    Kebersamaan yayasan, kepala sekolah,
    dan tenaga pendidik menjadi semangat
    dalam membangun pendidikan yang
    hebat dan bermartabat.

  </p>

  <div class="about-card">

  <img
  src="assets/img/yayasan2.jpeg"
  class="about-img">

  <h3>
    Pengembangan Fasilitas Sekolah
  </h3>

  <p>

    MTs Nurul Huda terus melakukan
    pembangunan untuk perbaikan dan untuknpeningkatan fasilitas
    sekolah untuk menciptakan lingkungan
    belajar yang nyaman dan modern.

  </p>

</div>

<div class="profil-card">

  <img
  src="assets/img/aulia.jpeg"
  class="profil-img">

  <div class="profil-content">

    <h2>
      Profil Perancang Sistem
    </h2>

    <h1>
      Aulia Namira
    </h1>

    <div class="info-box">

      <p><ion-icon name="id-card-outline"></ion-icon>
      NIM : 23100008</p>

      <p><ion-icon name="school-outline"></ion-icon>
      Sistem Informasi</p>

      <p><ion-icon name="layers-outline"></ion-icon>
      Semester 6</p>

      <p><ion-icon name="business-outline"></ion-icon>
      Institut Teknologi dan Bisnis Indonesia</p>

    </div>

    <div class="about-text">

      <p>

        Sistem PPDB Online ini dibuat
        sebagai tugas UAS Mata Kuliah
        Pemrograman Perangkat Bergerak.

      </p>

      <p>

        Dosen Pengampu :
        <br>
        Dr. Roberto Kaban,M.Kom

      </p>

    </div>

    <div class="quote">

      "Membangun sistem modern,
      kreatif, dan bermanfaat
      untuk pendidikan." ✨

    </div>

  </div>

</div>
</div>
  
  <div class="info">

    <div class="box">

      <ion-icon
      name="call-outline">
      </ion-icon>

      <h3>Kontak 📞</h3>

      <p>
        0812-3456-7890
      </p>

    </div>

    <div class="box">

      <ion-icon
      name="location-outline">
      </ion-icon>

      <h3>Alamat 📍</h3>

      <p>
        Pematang Cengal,Tanjung pura,Langkat
      </p>

    </div>

  </div>
   <div class="login-admin">

  <ion-button
  expand="block"
  routerLink="/admin-login">

    <ion-icon
    name="lock-closed-outline">
    </ion-icon>

    &nbsp;

    LOGIN ADMIN

  </ion-button>

</div>
  
  <div class="footer">

    © 2026 PPDB MTS Nurul Huda 

  </div>

  <div style="height:90px;"></div>

</ion-content>