<ion-content class="bg">

  <!-- HEADER -->
  <div class="header">

    <img
    src="assets/icon/logo.png"
    class="logo">

    <h1>PPDB ONLINE</h1>

    <p>
      MTS Nurul Huda Pematang Cengal
    </p>

      <h3 class="slogan">

      Hebat dan Bermartabat

    </h3>

    <span class="tagline">
      Sekolah Islami • Modern • Berprestasi
    </span>

  </div>

  <!-- HERO -->
  <div class="hero">

    <h2>
      Penerimaan Peserta Didik Baru
    </h2>

    <p>
      Bergabunglah bersama sekolah
      islami yang modern, nyaman,
      dan penuh prestasi ✨
    </p>

    <ion-button
    expand="block"
    routerLink="/tabs/tab2">

      DAFTAR SEKARANG

    </ion-button>

  </div>

  <!-- FITUR -->
  <div class="fitur">

    <div class="box">

      <ion-icon
      name="moon-outline">
      </ion-icon>

      <h3>Sekolah Islami</h3>

      <p>
        Membentuk akhlak mulia
      </p>

    </div>

    <div class="box">

      <ion-icon
      name="desktop-outline">
      </ion-icon>

      <h3>Digital School</h3>

      <p>
        Belajar modern & kreatif
      </p>

    </div>

    <div class="box">

      <ion-icon
      name="trophy-outline">
      </ion-icon>

      <h3>Berprestasi</h3>

      <p>
        Banyak prestasi siswa
      </p>

    </div>

  </div>

  <!-- JUMLAH -->
  <div class="jumlah-card">

    <div class="icon-jumlah">

      <ion-icon
      name="people-outline">
      </ion-icon>

    </div>

    <div class="text-jumlah">

      <h1>{{total}}</h1>

      <p>
        Siswa Sudah Mendaftar
      </p>

    </div>

  </div>

  <!-- SAMBUTAN -->
  <div class="kepsek-card">

    <img
    src="assets/icon/kepsek.jpeg"
    class="kepsek">

    <h2>
      Sambutan Kepala Sekolah
    </h2>

    <h3>
      NOVIA ROBEITAH IRHAM,M.Pd
    </h3>

    <p>
      Assalamu’alaikum Wr. Wb.
      Selamat datang di website
      PPDB Online MTs Nurul Huda
      Pematang Cengal.

      Semoga website ini dapat
      membantu calon peserta didik
      untuk melakukan pendaftaran
      dengan mudah, cepat,
      dan modern.
    </p>

  </div>
<!-- JADWAL PENDAFTARAN -->
<div class="jadwal-box">

  <h2>
    📅 Jadwal Pendaftaran
  </h2>

  <div class="jadwal-item">

    <h3>
      Gelombang PPDB 2026
    </h3>

    <p>
      1 April 2026 - 10 Juli 2026
    </p>

  </div>

  <div class="info-jadwal">

    Segera daftarkan diri anda sebelum
    batas pendaftaran berakhir ✨

  </div>

</div>

  <!-- ALUR -->
  <ion-card>

    <ion-card-header>

      <ion-card-title>
        Alur Pendaftaran
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      1️⃣ Isi Formulir <br><br>

      2️⃣ Upload Foto <br><br>

      3️⃣ Verifikasi Data (lihat ditab info) <br><br>

      4️⃣ Registrasi Ulang (wajib kesekolah)

    </ion-card-content>

  </ion-card>

  <!-- BERKAS -->
  <ion-card>

    <ion-card-header>

      <ion-card-title>
        Berkas Registrasi Ulang
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      📄 Fotokopi suart kelulusan (1 lembar) <br><br>

      📄 Fotokopi SKHU SD/MIS (1 lembar)  <br><br>

      📄 Fotokopi Akte Kelahiran (2 lembar)  <br><br>

      📄 Fotokopi Kartu PKH,KKS (2 lembar/ jika ada)  <br><br>

      📄 Fotokopi KTP ayah dan Ibu (2 lembar/ jika ada)  <br><br>

      📄 Fotokopi Kartu Keluarga (2 lembar/ jika ada)  <br><br>
      
      📄 Foto 3 x 4 2 lembar (latar belakang biru)  

      <br><br>

      <span class="warning">

        Seluruh berkas wajib dibawa
        saat registrasi ulang.

      </span>

    </ion-card-content>

  </ion-card>

  <!-- EKSTRA -->
  <ion-card>

    <ion-card-header>

      <ion-card-title>
        Ekstrakurikuler
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      🕌 Fardu Kifayah <br>
      📖 Tahfiz Qur'an <br>
      🎤 Ceramah <br>
      🥁 Drum Band <br>
      🥋 Silat <br>
      ⚽ Futsal <br>
      🎶 Sholawat <br>
      🏕️ Pramuka <br>
      🇮🇩 Paskibra <br>
      🎭 Tari dan Seni

    </ion-card-content>

  </ion-card>

  <!-- GALERI -->
  <div class="galeri">

  <h2 class="judul">
    Kegiatan Sekolah
  </h2>

  <!-- 1 -->
  <div class="card-galeri">

    <img src="assets/img/sekolah1.jpeg">

    <div class="isi">

      <h3>Kegiatan Belajar Mengaji</h3>

      <p>
        Siswa dan siswi aktif mengikuti
        pembelajaran Al-Qur'an bersama.
      </p>

    </div>

  </div>

  <!-- 2 -->
  <div class="card-galeri">

    <img src="assets/img/sekolah2.jpeg">

    <div class="isi">

      <h3>Prestasi Siswa</h3>

      <p>
        Siswa berhasil meraih berbagai
        juara perlombaan tingkat sekolah.
      </p>

    </div>

  </div>

  <!-- 3 -->
  <div class="card-galeri">

    <img src="assets/img/sekolah3.jpeg">

    <div class="isi">

      <h3>Kegiatan Pramuka</h3>

      <p>
        Kegiatan pramuka melatih
        disiplin dan kerja sama siswa.
      </p>

    </div>

  </div>

  <!-- 4 -->
  <div class="card-galeri">

    <img src="assets/img/sekolah4.jpeg">

    <div class="isi">

      <h3>Kegiatan Pembelajaran Komputer </h3>

      <p>
      Siswa dan siswi MTs Nurul Huda
      aktif belajar teknologi dan
      komputer untuk meningkatkan
      kemampuan digital di era modern.
      </p>

    </div>

  </div>

  <!-- 5 -->
  <div class="card-galeri">

    <img src="assets/img/sekolah5.jpeg">

    <div class="isi">

      <h3>Kegiatan Sekolah</h3>

      <p>
        Suasana kebersamaan siswa
        MTs Nurul Huda Pematang Cengal.
      </p>

    </div>

  </div>

  <!-- 6 -->
  <div class="card-galeri">

    <img src="assets/img/sekolah6.jpeg">

    <div class="isi">

      <h3>Budaya Salam</h3>

      <p>
        Membiasakan budaya hormat
        dan salam kepada guru.
      </p>

    </div>

  </div>

  <!-- 7 -->
  <div class="card-galeri">

    <img src="assets/img/sekolah7.jpeg">

    <div class="isi">

      <h3>Pelepasan Siswa</h3>

      <p>
        Momen pelepasan dan kelulusan
        siswa MTs Nurul Huda.
      </p>

    </div>

  </div>

</div>

<!-- PROGRAM HARIAN -->
<div class="program">

  <h2>
    PROGRAM HARIAN MADRASAH
  </h2>

  <div class="item">

    <h3>📅 SENIN</h3>

    <p>
      Upacara Bendera
    </p>

  </div>

  <div class="item">

    <h3>📅 SELASA</h3>

    <p>
      Sholat Dhuha kelas 3 dan 4 MI
    </p>

  </div>

  <div class="item">

    <h3>📅 RABU</h3>

    <p>
      Sholat Dhuha kelas 5 dan 6 MI
    </p>

  </div>

  <div class="item">

    <h3>📅 KAMIS</h3>

    <p>
      Sholawat dan Sholat Dhuha MTS
    </p>

  </div>

  <div class="item">

    <h3>📅 JUM'AT</h3>

    <p>
      Membaca Surah Yasin
    </p>

  </div>

  <div class="item">

    <h3>📅 SABTU</h3>

    <p>
      Senam Sehat seluruh siswa
    </p>

  </div>

</div>
  <!-- KONTAK -->
  <ion-card>

    <ion-card-header>

      <ion-card-title>
        Kontak Sekolah
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      📍 Pematang Cengal,Tanjung Pura,Langkat <br><br>

      📞 0853-7841-6179 <br><br>

      ✉️ mtsnurulhuda@gmail.com

    </ion-card-content>

  </ion-card>

  <!-- FOOTER -->
  <div class="footer">

    © 2026 MTs Nurul Huda
    Pematang Cengal

  </div>

  <div style="height:90px;"></div>

</ion-content>